/* Normalize is the new CSS reset */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}html{cursor:default;font-size:100%;overflow-y:scroll;-webkit-tap-highlight-color:transparent;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body,form,input,button,select,textarea{font-size:100%;margin:0}a,a:active,a:hover{outline:none}a:focus{outline:thin dotted}abbr{_border-bottom:expression(this.title ? '1px dotted':'none')}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#FF0;color:#000}pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small,sub,sup{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul{list-style:none}audio[controls],canvas,video{display:inline-block;*display:inline}audio{display:none;_display:expression(this.controls ? 'inline':'none');*zoom:1}audio[controls]{display:inline-block}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}legend{*margin-left:-7px}button,input,select,textarea{-webkit-appearance:none;border-radius:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;_overflow:expression(this.type == 'button|reset|submit' ? 'visible':'')}button,input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="search"]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

body {
  background: #f3f2f5;
  font: 16px/1.4em Helvetica, arial, sans-serif;
  color: #3f414b;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

a {
  color: #2f309f;
  text-decoration: none;
}

li {
  margin-bottom: 5px;
}

#page {
  margin: 0 auto;
}


/* Header */

header {
  border-bottom: 1px solid #5a5d6a;
  margin-top: 10px;
  margin-bottom: 15px;
}

header a {
  text-decoration: none;
}

header a:hover {
  background: #5a5d6a;
  color: white;
}

header h1 {
  margin: 0 0 10px 0;
  padding: 5px;
}
header small {
  display: block;
  margin: 0 0 10px 0;
  color: 
}

header h1 a {
    color: #3f414b;
}

header li {
  display: inline-block;
  margin: 0 20px 0 0;
  font-size: 18px;
}


/* Navigation */

nav ul {
  margin: 0 0 0 0;
  padding: 0;
}

nav li a {
  display: block;
  padding: 5px 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  color: #1a1b57;
}

nav li a:hover {
  background: #5a5d6a;
  color: white;
  border-bottom: 2px solid #5a5d6a;
}


#home .home,
#documentation .documentation,
#download .download,
#projects .projects,
#software .software,
#people .people,
#publications .publications,
#gallery .gallery,
#contact .contact {
  border-bottom: 2px solid #5a5d6a;
}


/* Content */
.columns img {
    width: 100%;
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 0 0 3px #aaa;
}

.thumb {
  display: block;
  height: 120px;
}


/* Footer */

footer { 
  margin: 2em 0;
  font-size: 75%;
  border-top: 1px solid #5a5d6a;
}

footer h2 {
}

footer a {
  color: #302f6a;
  text-decoration: none;
}

/* Homepage */

.box h2 {
  font-size: 14px;
  margin: 0 0 10px 0;
  padding: 5px;
  
}

.news.box {
  background: #d9edd9;
}

.news.box h2 {
  background: #c3e2c4;
}

.software.box {
  background: #e5eff3;
}

.software.box h2 {
  background: #cee0e8;
}

/* Documentation */

.sidebar {
  margin: 0;
  padding: 0;
}

.sidebar h3 {
  font-size: 110%;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #999;
  padding: 0 0 5px 0;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li li {
  padding-left: 10px;
  font-size: 90%;
}

.sidebar li ul {
  margin-bottom: 15px;
}

img.node-icon {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  box-shadow: 0 1px 2px #aaa;
  border-radius: 3px;
  padding: 5px;
  display: block;
}


/* Media Queries */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}