.nbar {
  font: 13px/15px arial,sans-serif;
  margin-bottom: 30px;
}

.nbar > ol {
  height: 29px;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #041a32;
  border-bottom: 1px solid #112;
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0 0 0 15px;
}

.nbar li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nbar li a {
  display: inline-block;
  padding: 8px 15px 7px 0;
}

.nbar li:hover .nbar-dropdown {
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 200px;
  background: #eee;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.nbar li, .nbar li a {
  font-weight: bold;
  color: #aaa;
}

.nbar a:hover {
  color: #fff;
}

.nbar .nbar-arrow {
  position: relative;
  top: -1px;
  left: 5px;
  border-style: solid dashed dashed;
  border-width: 3px 3px 0;
  border-color: transparent;
  border-top-color: #aaa;
  line-height: 0;
  padding-top: 1px;
  display: inline-block;
}

.nbar a:hover .nbar-arrow {
  border-top-color: #fff;
}

.nbar a:hover .nbar-dropdown {
  display: block;
}

.nbar .nbar-dropdown {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 200px;
  background: #eee;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
}

.nbar .nbar-dropdown a {
  color: #333;
}

.nbar .nbar-dropdown small {
  display: block;
  color: #aaa;
  font-size: 11px;
}

.nbar .nbar-dropdown li {
  margin: 0;
  padding: 0;
  display: block;
  border-bottom: 1px solid #ddd;
}

.nbar .nbar-dropdown li:last-child {
  border-bottom: none;
}

.nbar .nbar-dropdown li a {
  display: block;
  padding: 10px 15px;
}

.nbar .nbar-dropdown li a:hover {
  background: #041a32;
  color: #fff;
}

.nbar .nbar-dropdown li a:hover small {
  color: #888;
}




