body {
  color: #333;
  background: url(../img/background.png) repeat-x 50% 0 #dcdddd ;
  font: 14px/18px helvetica,arial,sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

h3 + small {
  display: block;
  font-size: 12px;
  color: #666;
  margin-top: -15px;
  margin-bottom: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: #4e9df4;
  text-decoration: none;
}

li {
  margin-bottom: 5px;
}

pre {
  box-shadow: 0 0 4px #aaa;
  border: 1px solid #fff;
  padding: 5px 10px;
  background: #ddd;
  border-radius: 3px;
  font-size: 90%;
}

hr { 
  border: none;
  border-bottom: 1px dotted #aaa;
  margin-bottom: 30px;
}

.button {
  background: #4e9df4;
  border-radius: 4px;
  border: 0;
  padding: 4px 7px;
  color: #fff;
}

.thumb {
  display: block;
  height: 120px;
}


.date {
  font-size: 11px;
  color: #999;
}


/* Header */

header {
    min-height: 1px;
}

header a {
  text-decoration: none;
}

header h1 {
  float: left;
  margin: 10px 0 10px 0;
  font-size: 24px;
}

header h1 a {
  color: #666;
}

header h1 small {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #999;
}

header #primary-links {
  float: right;
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
}

header #software-links {
  font-size: 12px;
  padding: 0 0 0 120px;
  color: #999;
}

header #software-links a {
  padding-top: 18px;
  padding-right: 5px;
  margin-left: 5px;
  color: #88b;
}

header nav a {
  display: inline-block;
  margin-left: 10px;
  padding-top: 16px;
  color: #041a32;
}

header nav a {
  border-top: 4px solid transparent;
} 

#home .home,
#gallery .gallery,
#download .download,
#documentation .documentation,
#forum .forum,
#blog .blog,
#node .node,
#documentation .node {
  border-top: 4px solid #4e9df4;
}


/* Content */

#content {
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#content img {
  margin: 5px auto;
  max-width: 100%;
  border: 1px solid #aaa;
  display: block;
}

#content img + small {
  display: block;
  margin-top: -2px;
  text-align: center;
  text-shadow: 0 0 4px #fff;
}


/* Footer */

footer {
  clear: both;
  font-size: 90%;
}

footer, footer a {
  color: #666;
}

footer h2 {
  font-size: 120%;
  margin: 0 0 5px 0;
  padding: 0;
}

footer a {
  text-decoration: none;
}

footer ul {
  margin: 0 0 10px 0;
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer p {
  margin: 5px 0 5px 0;
}

footer .copyright {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 20px;
}

footer .copyright a {
  color: #aad;
}


/* Product */

.hero {
  background-color: #041a32;
  height: 400px;
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.hero-text {
  padding: 40px 80px 0 30px;
  padding-top: 40px;
}

.hero-text h1 {
  font-size: 48px;
  margin: 0 0 10px 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
}

.hero-text p {
  font-size: 18px;
}

.hero-shot {
  position: relative;
  top: 25px;
  right: 15px;
  margin: 0;
  max-width: inherit;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}


/* Homepage */

#home .hero {
  background:  url(/media/homepage/hero-background.png) no-repeat 50% 50% #041a32;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  height: 200px;
  border-bottom: 1px solid #ddd;
}

#home .hero-text {
  padding-left: 10px;
}

#home .app a {
  color: #333;
}

#home .app h2 {
  font-size: 18px;
  margin: 0;
}

#home .app small {
  display: block;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
}

#home .app p {
  margin: 0;
}

#home .versions {
  margin-bottom: 50px;
}

#home .signup-form label {
  display: block;
  font-weight: bold;
}

#home .signup-form input {
  display: block;
  margin-bottom: 5px;
}

#home .post {
  width: 220px;
  float: left;
  margin-right: 10px;
}

#home .post p {
  margin: 0;
}

#home .post a {
  color: #333;
}

#home .signup {
  display: inline;
}

#home .emrg img {
  border: 0;
}


/* NodeBox 3 */

#nodebox3 .hero {
  background:  url(/media/homepage/random-shapes.png) no-repeat 99% 50% #041a32;  
}


/* Download */

.hero-button {
  font-size: 24px;
  display: inline-block;
  padding: 5px 20px;
  font-weight: bold;
  color: white;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
  background: #4E9DF4;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(100, 100, 120, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0 20px 0;
  -webkit-transition: 300ms;
  font-family: 'PT Sans Narrow', sans-serif;
  -moz-transition: 300ms;
}

.hero-button:hover {
  background: #d26b27;
}

.yellow {
  background: #041a32;
  color: #333;
  text-shadow: none;
}

.hero-button small {
  display: block;
  text-align: center;
}



/* Documentation */

#documentation article {
  padding-bottom: 20px;
}

#documentation article h1 {
  border-bottom: 1px solid #ddd;
}

#documentation img {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#documentation aside {
  margin-top: 30px;
}

#documentation .sidebar {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

#documentation .sidebar a {
  color: #041a32
}

#documentation .sidebar h3 {
  font-size: 110%;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ddd;
  padding: 0 0 5px 0;
}

#documentation .sidebar ul {
  margin: 0;
  padding: 0;
}

#documentation .sidebar li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#documentation .sidebar li li {
  padding-left: 10px;
  font-size: 14px;
}

#documentation .sidebar li ul {
  margin-bottom: 15px;
}

#documentation img.node-icon {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  box-shadow: 0 1px 2px #aaa;
  border-radius: 3px;
  padding: 5px;
  margin: 0 0 15px 0;
  display: block;
}

#documentation table#type-conversions {
  border: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
}

#documentation table#type-conversions th,
#documentation table#type-conversions td {
  box-sizing: border-box;
  width: 12.5%;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 5px;
}

#documentation table#type-conversions th {
  font-size: 14px;
}

#documentation table#type-conversions th:first-child {
  text-align: left;
}

#documentation table#type-conversions td {
  font-size: 18px;
}

#documentation table#type-conversions .small {
  font-size: 9px;
  font-weight: normal;
  text-align: left;
}


/* Media Queries */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

  body {
    background: white;
  }

  header {
    background: #dcdddd;
  }

  footer {
    background: #dcdddd;
  }

  #content {
    border-radius: 0;
    box-shadow: none;
    background: transparent;
  }

  nav a {
    display: block;
    width: 100%;
  }
  
  #home .home,
  #documentation .documentation,
  #download .download,
  #projects .projects,
  #software .software,
  #people .people,
  #publications .publications,
  #gallery .gallery,
  #contact .contact {
    border: none;
  }
  
  #page-title {
    margin-top: 20px;
  }
  

}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
