body {
  color: #333;
  background: url(../img/background.png) repeat-x 50% 0 #dcdddd ;
  font: 14px/18px helvetica,arial,sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

h3 + small {
  display: block;
  font-size: 12px;
  color: #666;
  margin-top: -15px;
  margin-bottom: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: #4e9df4;
  text-decoration: none;
}

li {
  margin-bottom: 5px;
}

pre {
  box-shadow: 0 0 4px #aaa;
  border: 1px solid #fff;
  padding: 5px 10px;
  background: #ddd;
  border-radius: 3px;
  font-size: 90%;
}

hr { 
  border: none;
  border-bottom: 1px dotted #aaa;
  margin-bottom: 30px;
}

.button {
  background: #4e9df4;
  border-radius: 4px;
  border: 0;
  padding: 4px 7px;
  color: #fff;
}

.thumb {
  display: block;
}

.date {
  font-size: 11px;
  color: #999;
}


/* Header */

header {
    min-height: 1px;
}

header a {
  text-decoration: none;
}

header h1 {
  float: left;
  margin: 10px 0 10px 0;
  font-size: 24px;
}

header h1 a {
  color: #666;
}

header h1 small {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #999;
}

header #primary-links {
  float: right;
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
}

header #software-links {
  font-size: 12px;
  padding: 0 0 0 120px;
  color: #999;
}

header #software-links a {
  padding-top: 18px;
  padding-right: 5px;
  margin-left: 5px;
  color: #88b;
}

header nav a {
  display: inline-block;
  margin-left: 10px;
  padding-top: 16px;
  color: #041a32;
}

header nav a {
  border-top: 4px solid transparent;
}


/* Content */

#content {
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 45px;
}

#content h1 {
  border-bottom: 1px solid #ddd;
}

#content img {
  margin: 5px auto;
  max-width: 100%;
  border: 1px solid #aaa;
  display: block;
}

#content img + small {
  display: block;
  margin-top: -2px;
  text-align: center;
  text-shadow: 0 0 4px #fff;
}


/* Footer */

footer {
  clear: both;
  font-size: 90%;
}

footer, footer a {
  color: #666;
}

footer h2 {
  font-size: 120%;
  margin: 0 0 5px 0;
  padding: 0;
}

footer a {
  text-decoration: none;
}

footer ul {
  margin: 0 0 10px 0;
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer p {
  margin: 5px 0 5px 0;
}

footer .copyright {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 20px;
}

footer .copyright a {
  color: #aad;
}


/* Product */

.hero {
  background-color: #041a32;
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.hero-text {
  padding: 40px 80px 0 30px;
  padding-top: 40px;
}

.hero-text h1 {
  font-size: 48px;
  margin: 0 0 10px 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
}

.hero-text p {
  font-size: 18px;
}

.hero-shot {
  padding-top: 30px;
  padding-bottom: 30px;
  border: none !important;
}


/* Homepage */

#home .hero {
  background:  url(/media/homepage/hero-background.png) no-repeat 50% 50% #041a32;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

#home .hero-text {
  padding-left: 10px;
}

#home .app a {
  color: #333;
}

#home .app h2 {
  font-size: 18px;
  margin: 0;
}

#home .app small {
  display: block;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
}

#home .app p {
  margin: 0;
}

#home .versions {
  margin-bottom: 50px;
}

#home .signup-form label {
  display: block;
  font-weight: bold;
}

#home .signup-form input {
  display: block;
  margin-bottom: 5px;
}

#home .post p {
  margin: 0;
}

#home .post a {
  color: #333;
}

#home .signup {
  display: inline;
}

#home .emrg img {
  border: 0;
}

/* Blog */

#home .post, 
#blog .post, 
#gallery .post {
  margin-right: 10px;
}

#blog .meta {
  color: #999;
  font-size: 12px;
}

/* NodeBox 3 */

#node .hero {
  background: #041a32;
  background: -moz-linear-gradient(top, #000000 0%, #041a32 100%);
  background: -webkit-linear-gradient(top, #000000 0%,#041a32 100%);
  background: -ms-linear-gradient(top, #000000 0%,#041a32 100%);
  background: linear-gradient(to bottom, #000000 0%,#041a32 100%);
}

#node .summary {
  font-style: oblique;
  color: #666;
}

#node .action ul {
  margin: 0;
  padding: 0;
}

#node .action li {
  list-style: none;
  font-weight: bold;
}


/* Download */

#download-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

#download-table td, #download-table th {
  width: 25%;
  padding: 10px 40px;
  text-align: center;
}

#download-table th {
    border-bottom: 2px solid #ccc;
}

#download-table td {
    border-top: 1px solid #ddd;
}

#download-table td.version {
  text-align: left;
  font-weight: bold;
  padding-left: 0;
  padding-right: 30px;
  white-space: nowrap;
}

#download-table td.version small {
  font-weight: normal;
  font-style: oblique;
  color: #999;
}

#download-table em {
  color: #999;
}

#download-table .highlight {
    background: #eee;
}

#download-table .button {
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
    background: #4E9DF4;
    box-shadow: 0 2px 5px rgba(100, 100, 120, 0.2);
    text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
}

#download-table .button:hover {
    background: #d26b27;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 250px;
  margin-left: -300px;
  margin-top: -125px;
  background: white;
  padding: 10px 30px;
  border: 2px solid #ccc;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.popup .close-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: #666;
  background: #ddd;
}

.hero-button {
  font-size: 24px;
  display: inline-block;
  padding: 5px 20px;
  font-weight: bold;
  color: white;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
  background: #4E9DF4;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(100, 100, 120, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0 20px 0;
  -webkit-transition: 300ms;
  font-family: 'PT Sans Narrow', sans-serif;
  -moz-transition: 300ms;
}

.hero-button:hover {
  background: #d26b27;
}

.hero-button small {
  display: block;
  text-align: center;
}



/* Documentation */

#documentation article {
  padding-bottom: 20px;
}

#documentation img {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#documentation aside {
  margin-top: 30px;
}

#documentation .breadcrumbs {
  margin-top: -20px;
  margin-bottom: 15px;
}

#documentation .sidebar {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

#documentation .sidebar a {
  color: #041a32
}

#documentation .sidebar h3 {
  font-size: 110%;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ddd;
  padding: 0 0 5px 0;
}

#documentation .sidebar ul {
  margin: 0;
  padding: 0;
}

#documentation .sidebar li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#documentation .sidebar li li {
  padding-left: 10px;
  font-size: 14px;
}

#documentation .sidebar li ul {
  margin-bottom: 15px;
}

#documentation img.node-icon {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #333;
  padding: 5px;
  margin: 0 0 15px 0;
  display: block;
}

#documentation table#type-conversions {
  border: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
}

#documentation table#type-conversions th,
#documentation table#type-conversions td {
  box-sizing: border-box;
  width: 12.5%;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 5px;
}

#documentation table#type-conversions th {
  font-size: 14px;
}

#documentation table#type-conversions th:first-child {
  text-align: left;
}

#documentation table#type-conversions td {
  font-size: 18px;
}

#documentation table#type-conversions .small {
  font-size: 9px;
  font-weight: normal;
  text-align: left;
}

#bootcamp {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

#bootcamp::after {
    display: block;
    content: "";
    padding-bottom: 20px;
    clear: both;
}

#bootcamp li {
    max-width: 200px;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 10px 10px 0;
    padding: 0;
}

#bootcamp img {
  border: none;
  display: block;
  text-align: center;
  box-shadow: none;
}

#bootcamp span {
    display: block;
    width: 100%;
    padding: 5px 0;
    background: #eee;
}


/* Media Queries */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

  body {
    background: white;
  }

  header {
    background: #dcdddd;
  }

  footer {
    padding-top: 20px;
    background: #dcdddd;
  }

  #content {
    border-radius: 0;
    box-shadow: none;
    background: transparent;
  }

  nav a {
    display: block;
    width: 100%;
  }
  
  #home .home,
  #documentation .documentation,
  #download .download,
  #projects .projects,
  #software .software,
  #people .people,
  #publications .publications,
  #gallery .gallery,
  #contact .contact {
    border: none;
  }
  
  #page-title {
    margin-top: 20px;
  }
  

}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
