body {
  color: #333;
  background: url(../img/background.png) repeat-x 50% 0 #dcdddd ;
  font: 14px/18px helvetica,arial,sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4e9df4;
  text-decoration: none;
}

li {
  margin-bottom: 5px;
}

h3 + small {
  display: block;
  font-size: 12px;
  color: #666;
  margin-top: -15px;
  margin-bottom: 15px;
}

pre {
  box-shadow: 0 0 4px #aaa;
  border: 1px solid #fff;
  padding: 5px 10px;
  background: #ddd;
  border-radius: 3px;
  font-size: 90%;
}

hr { 
  border: none;
  border-bottom: 1px dotted #aaa;
  margin-bottom: 30px;
}


/* Header */

header {
    min-height: 1px;
}

header a {
  text-decoration: none;
}

header h1 {
  float: left;
  margin: 10px 0 10px 0;
  font-size: 24px;
}

header h1 a {
  color: #666;
}

header h1 small {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #999;
}

header nav {
  float: right;
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
}

header nav a {
  display: inline-block;
  margin-left: 10px;
  padding-top: 10px;
  color: #041a32;
}

#home .home,
#gallery .gallery,
#download .download,
#documentation .documentation,
#forum .forum,
#blog .blog {
  border-top: 4px solid #4e9df4;
}


/* Content */

#content {
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background: white;
  margin-bottom: 20px;
}

#content img {
    margin: 5px auto;
    max-width: 100%;
    border: 1px solid #aaa;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    display: block;
}

#content img + small {
  display: block;
  margin-top: -2px;
  text-align: center;
  text-shadow: 0 0 4px #fff;
}

.thumb {
  display: block;
  height: 120px;
}


.date {
  font-size: 11px;
  color: #999;
}
.sign{
    float:left;
    height:35px;
    width:50%;
    margin-top:0px;
    background-color:rgb(112,175,180);
    border-left: 1px solid #999;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 1px solid #999;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left:10px;
    padding-top:5px;
    font-size: 14px;
    text-align:left;
    text-transform: uppercase;
    color: #fff;
}

/* Footer */

footer {
  clear: both;
  font-size: 90%;
}

footer, footer a {
  color: #666;
}

footer h2 {
  font-size: 120%;
  margin: 0 0 5px 0;
  padding: 0;
}

footer a {
  text-decoration: none;
}

footer ul {
  margin: 0 0 10px 0;
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer p {
  margin: 5px 0 5px 0;
}

footer .copyright {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 20px;
}

footer .copyright, footer .copyright a {
  color: #aaa;
}

/* Homepage */

#home h2 + small {
  display: block;
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
}

#home .app ul {
  margin: 0;
  padding: 0;
  margin-bottom:-3px;
}

#home .app li {
  margin: 0 0 10px 10px;
  padding: 0;
  list-style: none;
  text-align: left;
}

#home .more {
  font-weight: bold;
  margin: 5px 0 0 10px;
}

#home .hero {
  height: 400px;
  background:  url(/media/homepage/random-shapes.png) no-repeat 99% 50% #031832;
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}


/*#home .app {
  box-sizing: border-box;
  height: 250px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  text-align: left;
  font-weight: bold;
  line-height: 90%;
  background: #eee;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
  
  border-left: 1px solid #999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
  border-right: 1px solid #999;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 } */

/*#home .app small {
  margin-top: 15px;
  font-size: 14px;
  display: block;
  margin-left: 10px;
}

#home .app h2 {
    padding:0px;
    background-color:#eee;
    font-size: 1.25em;
    height:15px;
    border: 0px;
    box-shadow: 0 0 0px;
}

#home .app img {
  margin-top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#home .app .screenshot {
    border-left: 1px solid #999;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    border-right: 1px solid #999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#home .app.featured .screenshot2{
    margin-top: -10px;
    width:100%;
}


#home .app.featured {
  margin: 0;
  margin-left:0px;
  margin-top:10px;
  border: 1px solid #999;
  border-radius: 5px;
  background: #eee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  z-index: 5;
}



#home a.more {
  display: block;
  margin: 20px 0 0 10px;
  text-align: left;
  font-size: 120%;
}

#home .projects {
  margin-top: 0px;
}

#home .versions{
    margin-top:-40px;
}


#home .screenshots{
    margin-top:40px;
}*/

.signup-form label {
  display: block;
  font-weight: bold;
}

.signup-form input {
  display: block;
  margin-bottom: 5px;
}

/* Download */

.hero-button {
  font-size: 14px;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-shadow: -1px 0 1px rgba(0, 0, 0, 0.3);
  background: #424483;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(100, 100, 120, 0.3);
  margin: 10px 0 20px 0;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
}

.yellow {
  background: #d8d552;
  color: #333;
  text-shadow: none;
}

.hero-button small {
  display: block;
  text-align: center;
}

.hero-button:hover {
  box-shadow: 0 0 8px rgba(0, 0, 20, 0.3);
  background: #7579ae;
}



/* Documentation */

#documentation article {
  padding-bottom: 20px;
}

#documentation article h1 {
  border-bottom: 1px solid #ddd;
}

#documentation aside {
  margin-top: 30px;
}

#documentation .sidebar {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

#documentation .sidebar a {
  color: #041a32
}

#documentation .sidebar h3 {
  font-size: 110%;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ddd;
  padding: 0 0 5px 0;
}

#documentation .sidebar ul {
  margin: 0;
  padding: 0;
}

#documentation .sidebar li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#documentation .sidebar li li {
  padding-left: 10px;
  font-size: 14px;
}

#documentation .sidebar li ul {
  margin-bottom: 15px;
}

#documentation img.node-icon {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  box-shadow: 0 1px 2px #aaa;
  border-radius: 3px;
  padding: 5px;
  margin: 0 0 15px 0;
  display: block;
}

#documentation table#type-conversions {
  border: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
}

#documentation table#type-conversions th,
#documentation table#type-conversions td {
  box-sizing: border-box;
  width: 12.5%;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 5px;
}

#documentation table#type-conversions th {
  font-size: 14px;
}

#documentation table#type-conversions th:first-child {
  text-align: left;
}

#documentation table#type-conversions td {
  font-size: 18px;
}

#documentation table#type-conversions .small {
  font-size: 9px;
  font-weight: normal;
  text-align: left;
}


/* Media Queries */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

  body {
    background: white;
  }

  header {
    background: #dcdddd;
  }

  footer {
    background: #dcdddd;
  }

  #content {
    border-radius: 0;
    box-shadow: none;
    background: transparent;
  }

  nav a {
    display: block;
    width: 100%;
  }
  
  #home .home,
  #documentation .documentation,
  #download .download,
  #projects .projects,
  #software .software,
  #people .people,
  #publications .publications,
  #gallery .gallery,
  #contact .contact {
    border: none;
  }
  
  #page-title {
    margin-top: 20px;
  }
  

}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
