---
layout: base
section: documentation
---
<article class="ten columns">
  <h1 id="page-title">{{ page.title }}</h1>
  {% if page.node %}
    <div class="breadcrumbs">
      <a href="/node/reference/">Reference</a> &rarr;
      <a href="/node/reference/{{ page.library }}">{{ page.library|capitalize }}</a> &rarr;
      {{ page.title }}
    </div>
  {% else %}
    {% if page.library %}
    <div class="breadcrumbs">
      <a href="/node/reference/">Reference</a> &rarr;
      {{ page.library|capitalize }}
    </div>
    {% endif %}
  {% endif %}
  {{ content }}
</article>

<aside class="five columns offset-by-one">
  <ul class="sidebar">
    <li>
      <h3>For Beginners</h3>
      <ul>
        <li><a href="/node/documentation/tutorial/getting-started.html">Getting Started</a></li>
        <li><a href="/node/documentation/tutorial/exploring.html">Exploring NodeBox</a></li>
        <li><a href="/node/documentation/tutorial/animation.html">Basic Animation</a></li>
      </ul>
    </li>
    <li>
      <h3>Using NodeBox</h3>
      <ul>
        <li><a href="/node/documentation/using/generative-design.html">Creating Generative Design</a></li>
        <li><a href="/node/documentation/using/data-visualization.html">Creating Data Visualizations</a></li>
        <li><a href="/node/documentation/using/animation.html">Working with Animation</a></li>
        <li><a href="/node/documentation/using/math.html">Working with Math</a></li>
      </ul>
    </li>
    <li>
      <h3>Concepts</h3>
      <ul>
        <li><a href="/node/documentation/concepts/gui.html">The Graphical User Interface</a></li>
        <li><a href="/node/documentation/concepts/concepts.html">How NodeBox Works</a></li>
        <li><a href="/node/documentation/concepts/coordinates.html">The Coordinate System</a></li>
        <li><a href="/node/documentation/concepts/geometry.html">Geometry</a></li>
        <li><a href="/node/documentation/concepts/subnetworks.html">Subnetworks</a></li>
        <li><a href="/node/documentation/concepts/randomness.html">Randomness</a></li>
      </ul>
    </li>
    <li>
      <h3>Expert</h3>
      <ul>
        <li><a href="/node/documentation/advanced/contributing.html">Contributing To NodeBox</a></li>          
        <li><a href="/node/documentation/advanced/hacking-nodebox-on-windows.html">Hacking NodeBox on Windows</a></li>          
      </ul>
    </li>
    <li>
      <h3>Reference</h3>
      <ul>
        <li><a href="/node/reference/">All Nodes By Category</a></li>
        <li><a href="/node/api/">NodeBox Graphics API</a></li>          
      </ul>
    </li>
  </ul>
</aside>