---
layout: default
section: documentation
---
<div class="row">
  <div class="ten columns alpha">
    {{ content }}
  </div>
  <div class="five columns offset-by-one omega">
    <ul class="sidebar">
      <li>
        <h3>Beginner</h3>
        <ul>
          <li><a href="/documentation/tutorial/getting-started">Getting Started</a></li>
          <li><a href="/documentation/tutorial/exploring">Exploring NodeBox</a></li>
          <li><a href="/documentation/tutorial/animation">Basic Animation</a></li>
        </ul>
      </li>
      <li>
        <h3>Intermediate</h3>
        <ul>
          <li><a href="/documentation/using/concepts">NodeBox Concepts</a></li>
          <li><a href="/documentation/using/gui">The Graphical User Interface</a></li>
          <li><a href="/documentation/using/coordinates">The Coordinate System</a></li>
          <li><a href="/documentation/using/geometry">Geometry</a></li>
          <li><a href="/documentation/using/expressions">Expressions</a></li>
          <li><a href="/documentation/using/copy-stamping">Creating Variations using Copy Stamping</a></li>
          <li><a href="/documentation/using/data-stamping">Data Visualization using Data Stamping</a></li>
          <li><a href="/documentation/using/animation">Animation</a></li>
          <li><a href="/documentation/using/metadata">Creating your own Parameters</a></li>
          <li><a href="/documentation/using/geonets">Sub-networks</a></li>
          <li><a href="/documentation/using/randomness">Controlling Randomness</a></li>
        </ul>
      </li>
      <li>
        <h3>Advanced</h3>
        <ul>
          <li><a href="/documentation/advanced/programming-nodes">Programming your own Nodes</a></li>
          <li><a href="/documentation/advanced/engine">How NodeBox Renders Nodes</a></li>
          <li><a href="/documentation/advanced/contributing">Contributing To NodeBox</a></li>          
        </ul>
      </li>
      <li>
        <h3>Reference</h3>
        <ul>
          <li><a href="/documentation/nodes/">All Nodes By Category</a></li>
          <li><a href="/documentation/expressions/">Expressions</a></li>
          <li><a href="/documentation/api/">NodeBox Graphics API</a></li>          
        </ul>
      </li>
    </ul>
  </div>
</div>