---
layout: base
section: home
---

<div class="content row">
{{ content }}
</div> <!-- .content -->

<div class="versions row">
  <div class="grid_4 app">
    <h2>NodeBox 1</h2>
    <small>Pure Python. Mac OS X only.</small>
    <ul>
      <li>Light-weight</li>
      <li>Python</li>
      <li>Mac OS X only</li>
    </ul>
    <a href="/code/" class="more">Read More</a>
  </div>
  <div class="grid_4 featured app">
    <h2>NodeBox 3</h2>
    <small>Node-based GUI. Cross-platform.</small>
    <ul>
      <li>Easy-to-use node-based GUI</li>
      <li>For Windows, Mac OS X and Linux</li>
      <li>Under active development</li>
    </ul>
    <a href="/node/" class="more">Read More</a>
  </div>
  <div class="grid_4 app">
    <h2>NodeBox OpenGL</h2>
    <small>Pure Python. Cross-platform.</small>
    <ul>
      <li>Hardware-accelerated</li>
      <li>Ideal for games</li>
      <li>No GUI, just the code</li>
    </ul>
    <a href="/opengl/" class="more">Read More</a>
  </div>
</div> <!-- .versions -->
<div class="clear"></div>

<div class="screenshots">
  <h2>Screenshots</h2>
  <div class="grid_3">
    <a href="/media/screenshots/nodes.png"><img src="/media/screenshots/nodes_sq.png" alt="Nodes"></a>
  </div>
  <div class="grid_3">
    <a href="/media/screenshots/code.png"><img src="/media/screenshots/code_sq.png" alt="Nodes"></a>
  </div>
  <div class="grid_3">
    <a href="/media/screenshots/animation.png"><img src="/media/screenshots/animation_sq.png" alt="Nodes"></a>    
  </div>
  <div class="grid_3">
    <a href="/media/screenshots/dataviz.png"><img src="/media/screenshots/dataviz_sq.png" alt="Data Visualization"></a>
  </div>
</div> <!-- .screenshots -->
<div class="clear"></div>

<div class="gallery row">
  <h2>Gallery</h2>
  {% for post in site.categories.gallery %}
    <div class="grid_3">
      <a href="{{ post.url }}">
          <img src="/media/gallery/{{ post.thumb }}" alt="{{ post.title }}">
          <span>{{ post.title }}</span>
      </a>
    </div>
  {% endfor %}
</div> <!-- .gallery -->
<div class="clear"></div>

<div class="row connect">
  <div class="grid_6 emrg">
    <h2>EMRG</h2>
  </div>

  <div class="grid_6 emrg">
    <h2>Stay in touch</h2>
    <div class="grid_3 alpha">
      <h3>Newsletter</h3>
      <p>Sign up for the monthly newsletter.</p>
      <form method="post">
        <input type="email" placeholder="Email address" /><br>
        <input type="submit" value="Signup" />
      </form>
    </div>
    <div class="grid_3 omega">
      <h3>Community</h3>
    
    </div>
  </div>
</div>  <!-- .connect -->

